.navbar-expand-lg {
  flex-wrap: wrap;
}
.navbar-brand {
  width: 170.92px;
}
.navbar-link {
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid $success;
  }
}
.navbar-collapse {
  flex-grow: 0;
}

// 登入lgoo
.login-icon {
  font-size: 20px;
  vertical-align: bottom;
}

